# import libraries

In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable
import matplotlib.patches as mpatches
import cartopy.crs as ccrs
import pandas as pd
import geopandas as gpd
import osmnx

# Social Indicator

Load & clean data

In [126]:
# load the necessary data here and transform to a UTM projection
admin = gpd.read_file("C:/Users/charl/OneDrive/Desktop/ulster/EGM722_programming/git/egm722_project/data/Stadtteile_Hamburg.shp")
stats = pd.read_csv("C:/Users/charl/OneDrive/Desktop/ulster/EGM722_programming/git/egm722_project/data/statistics_HH21.csv",encoding="Latin-1", delimiter=";",decimal="." )
admin
#print(stats.head())

,OBJECTID,bezirk,bezirk_nam,stadtteil_,stadttei_1,stadttei_2,SHAPE_Leng,SHAPE_Area,geometry
0,1,1,Hamburg-Mitte,Hamburg-Altstadt,02101,101,9028.180532,3.676562e+06,"POLYGON ((1113865.821 7085107.333, 1113978.324..."
1,2,1,Hamburg-Mitte,HafenCity,02102,102,13902.691334,6.860720e+06,"POLYGON ((1113043.882 7082944.386, 1112901.932..."
2,3,1,Hamburg-Mitte,Neustadt,02103,103,11133.923114,6.395226e+06,"POLYGON ((1112508.476 7085835.161, 1112319.283..."
3,4,1,Hamburg-Mitte,St. Pauli,02104,104,15968.675123,6.343533e+06,"POLYGON ((1109116.549 7084327.397, 1109001.027..."
4,5,1,Hamburg-Mitte,St. Georg,02105,105,9795.650670,5.155061e+06,"POLYGON ((1114563.830 7085359.663, 1114541.839..."
...,...,...,...,...,...,...,...,...,...
99,100,7,Harburg,Hausbruch,02713,713,34659.184329,2.770431e+07,"POLYGON ((1101387.092 7070743.160, 1101380.353..."
100,101,7,Harburg,Neugraben-Fischbek,02714,714,42482.635108,6.344999e+07,"POLYGON ((1096583.594 7064715.537, 1096542.372..."
101,102,7,Harburg,Francop,02715,715,23501.637669,2.486794e+07,"POLYGON ((1099883.796 7079156.620, 1099890.652..."
102,103,7,Harburg,Neuenfelde,02716,716,31946.432527,4.424464e+07,"POLYGON ((1089022.531 7076093.392, 1089013.622..."
103,104,7,Harburg,Cranz,02717,717,9995.339044,3.768256e+06,"POLYGON ((1089962.550 7082556.499, 1089938.409..."

In [127]:
#rename columns
stats.columns = ['district','inhabitants', 'pop<18','%<18', 'pop>65y','%>65', 'foreignResidents', 'migration_backg', 'hh','pp_size','hh_kids', '%hh_kids','areakm2', 'pop_density','working_pop', '%working_pop', 'unemployed','%unemployed','unemployed<18','%unemployed<18', 'unemployed>65', '%unemployed>65','social_benefits', '%social_benefits','social_housing', '%social_housing']
stats

,district,inhabitants,pop<18,%<18,pop>65y,%>65,foreignResidents,migration_backg,hh,pp_size,...,unemployed,%unemployed,unemployed<18,%unemployed<18,unemployed>65,%unemployed>65,social_benefits,%social_benefits,social_housing,%social_housing
0,Hamburg-Altstadt,2.358.00,297,12.6,257,10.9,519,1.046.00,1.507.00,1.6,...,98,5.3,.,.,14,5.7,193,8.2,176,12.4
1,HafenCity,6.302.00,1.187.00,18.8,598,9.5,884,2.429.00,2.892.00,2.2,...,144,3.1,.,.,14,2.7,309,4.9,799,24.9
2,Neustadt,12.611.00,1.414.00,11.2,1.894.00,15,2.477.00,4.602.00,8.620.00,1.5,...,494,5.2,28,2.9,104,6.5,911,7.2,967,12.6
3,St. Pauli,21.803.00,2.849.00,13.1,2.245.00,10.3,4.535.00,8.045.00,14.593.00,1.5,...,1.330.00,7.8,65,3.4,282,10.7,2.708.00,12.4,1.485.00,11.7
4,St. Georg,11.467.00,1.189.00,10.4,1.602.00,14,2.689.00,4.570.00,7.353.00,1.5,...,489,5.5,33,2.8,103,7,841,7.3,852,13.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,EimsbÃƒÂ¼ttel,269.964.00,42.274.00,15.7,50.383.00,18.7,40.152.00,82.382.00,154.887.00,1.7,...,8.336.00,4.5,518,2.1,1.773.00,5.2,16.326.00,6.0,5.887.00,4.0
102,Hamburg-Nord,315.929.00,44.213.00,14,50.735.00,16.1,45.604.00,93.700.00,193.357.00,1.6,...,9.993.00,4.4,561,1.9,2.027.00,5.3,20.307.00,6.4,10.038.00,5.4
103,Wandsbek,444.037.00,78.040.00,17.6,95.161.00,21.4,67.102.00,152.553.00,230.316.00,1.9,...,14.912.00,5.3,1.111.00,2.5,3.209.00,5.2,39.819.00,9.0,16.499.00,7.5
104,Bergedorf,130.711.00,23.917.00,18.3,24.831.00,19,20.011.00,51.865.00,63.248.00,2.0,...,4.161.00,4.9,280,2,911,4.9,12.415.00,9.5,7.724.00,12.7
105,Harburg,170.482.00,31.762.00,18.6,30.079.00,17.6,42.737.00,83.822.00,86.660.00,1.9,...,7.639.00,6.7,710,3.6,1.325.00,6.2,21.198.00,12.4,7.419.00,9.3

In [141]:
#joined population data with shapefile of admin boundaries and dropped additional columns in the admin dataset
admin_pop = pd.merge(admin,stats, left_on='stadtteil_', right_on='district', how = 'outer')

#admin_pop.drop(columns=['district','OBJECTID','bezirk', 'stadttei_1', 'stadttei_2'],axis=1, inplace=True)

admin_pop
#fig, ax = plt.subplots(figsize=(24, 18))
#admin_pop.plot(ax=ax, alpha=1,linewidth=2, facecolor="none")

,OBJECTID,bezirk,bezirk_nam,stadtteil_,stadttei_1,stadttei_2,SHAPE_Leng,SHAPE_Area,geometry,district,...,unemployed,%unemployed,unemployed<18,%unemployed<18,unemployed>65,%unemployed>65,social_benefits,%social_benefits,social_housing,%social_housing
0,1.0,1,Hamburg-Mitte,Hamburg-Altstadt,02101,101,9028.180532,3.676562e+06,"POLYGON ((1113865.821 7085107.333, 1113978.324...",Hamburg-Altstadt,...,98,5.3,.,.,14,5.7,193,8.2,176,12.4
1,2.0,1,Hamburg-Mitte,HafenCity,02102,102,13902.691334,6.860720e+06,"POLYGON ((1113043.882 7082944.386, 1112901.932...",HafenCity,...,144,3.1,.,.,14,2.7,309,4.9,799,24.9
2,3.0,1,Hamburg-Mitte,Neustadt,02103,103,11133.923114,6.395226e+06,"POLYGON ((1112508.476 7085835.161, 1112319.283...",Neustadt,...,494,5.2,28,2.9,104,6.5,911,7.2,967,12.6
3,4.0,1,Hamburg-Mitte,St. Pauli,02104,104,15968.675123,6.343533e+06,"POLYGON ((1109116.549 7084327.397, 1109001.027...",St. Pauli,...,1.330.00,7.8,65,3.4,282,10.7,2.708.00,12.4,1.485.00,11.7
4,5.0,1,Hamburg-Mitte,St. Georg,02105,105,9795.650670,5.155061e+06,"POLYGON ((1114563.830 7085359.663, 1114541.839...",St. Georg,...,489,5.5,33,2.8,103,7,841,7.3,852,13.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,RÃƒÂ¶nneburg,...,106,4.7,.,.,25,5,309,9.0,72,5.0
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,EiÃƒÂŸendorf,...,885,5.4,77,2.7,160,4.9,2.391.00,9.6,546,4.4
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Hamburg-Mitte,...,15.681.00,7.3,1.238.00,3.6,2.733.00,7.5,44.305.00,14.8,21.136.00,14.1
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Altona,...,9.855.00,5.4,565,2.1,2.022.00,5.6,23.188.00,8.4,9.166.00,6.5
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Hamburg-Nord,...,9.993.00,4.4,561,1.9,2.027.00,5.3,20.307.00,6.4,10.038.00,5.4

In [148]:
print(admin_pop['%unemployed>65'].dtype)
#admin_pop["%unemployed"] = admin_pop["%unemployed"].astype(float)

#convert function
#def convert_type(x):
    # Check the dtype of the input DataFrame column
#    print('Original type:', x.dtype)

    # Convert to float if not already a float
#    if x.dtype != float:

    # Check the dtype of the output DataFrame column
      #  print('Reformed type:', x.dtype)

 #   return x
# Apply the function to columns A, B, and C
#admin_pop[['%unemployed', '%unemployed>65' ]] = admin_pop[['%unemployed', '%social_benefits', '%social_housing','%unemployed>65' ]].apply(convert_type, axis=0)
#columns=admin_pop.columns
#for column in columns:
    
  #  print(admin_pop.dtype)
#buildings['gebaeudefu'] = buildings['gebaeudefu'].astype(int)

object

In [155]:
#first the code calculates the mean of the considered  socio economic indicators : the following will be selected for creation of socio-economic index: % unemployed, %social housing, %unemplyoed>65,%social benefits, %unemplyoed<18
#add weights?
weights = [1,0.5]
mean_socstats = admin_pop[['%social_benefits','%social_housing']].mean(axis=1)
admin_pop['mean_socstats'] = mean_socstats
admin_pop.head()

,OBJECTID,bezirk,bezirk_nam,stadtteil_,stadttei_1,stadttei_2,SHAPE_Leng,SHAPE_Area,geometry,district,...,%unemployed<18,unemployed>65,%unemployed>65,social_benefits,%social_benefits,social_housing,%social_housing,mean,mean_socstats,qt_soc_stats
0,1.0,1,Hamburg-Mitte,Hamburg-Altstadt,02101,101,9028.180532,3.676562e+06,"POLYGON ((1113865.821 7085107.333, 1113978.324...",Hamburg-Altstadt,...,.,14,5.7,193,8.2,176,12.4,10.30,10.30,3.0
1,2.0,1,Hamburg-Mitte,HafenCity,02102,102,13902.691334,6.860720e+06,"POLYGON ((1113043.882 7082944.386, 1112901.932...",HafenCity,...,.,14,2.7,309,4.9,799,24.9,14.90,14.90,4.0
2,3.0,1,Hamburg-Mitte,Neustadt,02103,103,11133.923114,6.395226e+06,"POLYGON ((1112508.476 7085835.161, 1112319.283...",Neustadt,...,2.9,104,6.5,911,7.2,967,12.6,9.90,9.90,3.0
3,4.0,1,Hamburg-Mitte,St. Pauli,02104,104,15968.675123,6.343533e+06,"POLYGON ((1109116.549 7084327.397, 1109001.027...",St. Pauli,...,3.4,282,10.7,2.708.00,12.4,1.485.00,11.7,12.05,12.05,4.0
4,5.0,1,Hamburg-Mitte,St. Georg,02105,105,9795.650670,5.155061e+06,"POLYGON ((1114563.830 7085359.663, 1114541.839...",St. Georg,...,2.8,103,7,841,7.3,852,13.2,10.25,10.25,3.0

In [153]:
#groups / classifies the results into percentile of the respective column
admin_pop['qt_soc_stats'] = pd.qcut(admin_pop['mean_socstats'],5,labels=False)

admin_pop

,OBJECTID,bezirk,bezirk_nam,stadtteil_,stadttei_1,stadttei_2,SHAPE_Leng,SHAPE_Area,geometry,district,...,%unemployed<18,unemployed>65,%unemployed>65,social_benefits,%social_benefits,social_housing,%social_housing,mean,mean_socstats,qt_soc_stats
0,1.0,1,Hamburg-Mitte,Hamburg-Altstadt,02101,101,9028.180532,3.676562e+06,"POLYGON ((1113865.821 7085107.333, 1113978.324...",Hamburg-Altstadt,...,.,14,5.7,193,8.2,176,12.4,10.30,10.30,3.0
1,2.0,1,Hamburg-Mitte,HafenCity,02102,102,13902.691334,6.860720e+06,"POLYGON ((1113043.882 7082944.386, 1112901.932...",HafenCity,...,.,14,2.7,309,4.9,799,24.9,14.90,14.90,4.0
2,3.0,1,Hamburg-Mitte,Neustadt,02103,103,11133.923114,6.395226e+06,"POLYGON ((1112508.476 7085835.161, 1112319.283...",Neustadt,...,2.9,104,6.5,911,7.2,967,12.6,9.90,9.90,3.0
3,4.0,1,Hamburg-Mitte,St. Pauli,02104,104,15968.675123,6.343533e+06,"POLYGON ((1109116.549 7084327.397, 1109001.027...",St. Pauli,...,3.4,282,10.7,2.708.00,12.4,1.485.00,11.7,12.05,12.05,4.0
4,5.0,1,Hamburg-Mitte,St. Georg,02105,105,9795.650670,5.155061e+06,"POLYGON ((1114563.830 7085359.663, 1114541.839...",St. Georg,...,2.8,103,7,841,7.3,852,13.2,10.25,10.25,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,RÃƒÂ¶nneburg,...,.,25,5,309,9.0,72,5.0,7.00,7.00,2.0
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,EiÃƒÂŸendorf,...,2.7,160,4.9,2.391.00,9.6,546,4.4,7.00,7.00,2.0
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Hamburg-Mitte,...,3.6,2.733.00,7.5,44.305.00,14.8,21.136.00,14.1,14.45,14.45,4.0
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Altona,...,2.1,2.022.00,5.6,23.188.00,8.4,9.166.00,6.5,7.45,7.45,2.0
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Hamburg-Nord,...,1.9,2.027.00,5.3,20.307.00,6.4,10.038.00,5.4,5.90,5.90,2.0

In [ ]:
#adds text description based on the quantile in a new field
def status_description(x):
    df['classification'] = ['below mean' if x < q25 else 'within range' if q25 <= x <= q75 else 'above mean' for x in mean_values]

    
    
    if x == 0:
        print('{} very low status<20qt'
    elif x > 0 & <= 2.0:
        print('{} low status 20qt'
        
    else:
        print('{} is zero'.format(x))